* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

form {
    margin: 1rem 0 1rem 0;
}

#searchBar {
    width: 20rem;
    
}

.card {
    margin: .5rem;
    padding: .5rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    /* background-color: aquamarine; */
    border-radius: 3px;
    -webkit-box-shadow: -4px -4px 6px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: -4px -4px 6px 1px rgba(0,0,0,0.37);
    box-shadow: -4px -4px 6px 1px rgba(0,0,0,0.37);
}

.main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

input {
    padding: .2rem;
    border-radius: 2px;
    border: .5px solid black;
}

input:hover {
    background-color: lightgrey;
}

#update {
    cursor: pointer;
}

#delete-btn {
    background-color: red;
    border: 0px;
    border-radius: 2px;
    padding: .2rem;
    color: white;
    margin: .2rem;
}
#edit-btn {
    background-color: orange;
    border: 0px;
    border-radius: 2px;
    padding: .2rem;
    color: white;
    margin: .2rem;
}

#btn {
    background-color: green;
    border: 0px;
    border-radius: 2px;
    padding: .2rem;
    color: white;
    margin: .2rem;
}



